* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24,
}

.container{
    display: grid;
    grid-template-columns: 1fr repeat(1, 4fr);
}

.header{
    display: flex;
    align-items: center;
    color: white;
    padding: 15px;
    padding-left: 50px;
    grid-column: 1 / 3;
    background-color: green;
    gap: 15px;
    height: 80px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    z-index: 10;
}

.header > .material-symbols-outlined{
    font-size: 50px;
}

.add-book-header{
    display: flex;
    font-size: 25px;
    align-items: center;
    gap: 15px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}


.add-book-header > .material-symbols-outlined{
    font-size: 35px;
}

.add-book{
    color: white;
    padding: 15px;
    grid-column: 1 / 2;
    background-color: yellowgreen;
    height: auto;
    height: calc(100vh - 80px);
}

.add-form{
    display: flex;
    padding: 15px;
    flex-direction: column;
    gap: 30px;
}

.book-list{
    color: white;
    padding: 15px;
    background-color: yellow;
}

label{
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

input{
    border: none;
    border-bottom: 1px solid darkgreen;
    background-color: yellowgreen;
    font-size: 20px;
}

input:focus {
    outline: none;
    border-bottom: 2px solid darkgreen; 
}

.form-group label {
    position: relative;
}

#read {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}


.checkmark {
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 4px;
}

#read:checked + .checkmark {
    background-color: green;
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

#read:checked + .checkmark::after {
    display: block;
}

.checkmark::after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

button {
  background-color: darkgreen;
  font-size: 25px;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 8px 25px;
  cursor: pointer;
  transition: background 0.3s;
}

.submit-section{
    display: flex;
    padding: 15px;
    justify-content: center;
}

.action-buttons button:hover {
  background-color: darkgreen;
}

.filters{
    display: flex;
    padding: 15px;
    font-size: 25px;
    justify-content: end;
    gap: 30px;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

.filter-btns > button{
    font-size: 15px;
}

.table{
    width: 100%;
}